* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  line-height: 1.5em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:visited {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3,
h4,
p {
  padding: 10px;
  margin: 10px;
}

p,a {
  font-family: "Open sans", sans-serif;
  color: #333;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
  justify-content: space-evenly;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

/* Navbar */
#navbar {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 90px;
  background: #000;
  box-shadow: 0 15px 15px gray;
}

#navbar .menu ul {
  display: flex;
}

#navbar ul li a {
  margin: 5px 30px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  color: #f4f4f4;
}

#navbar ul li a:hover {
  text-decoration: none;
  color: lightgray;
}

#navbar img {
  width: 70px;
}

/* Footer */
.footer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 11vh;
  background-color: rgb(209, 202, 202);
  box-shadow: 2px 0 17px gray;
}

.footer .menu ul {
  display: flex;
}

.footer ul li a {
  margin: auto 30px;
  font-size: 20px;
  font-weight: 300;
  color: #333;
  font-size: 16px;
}

.footer ul li a:hover {
  text-decoration: none;
  color: black;
}

/* About section */
.about,
.intro {
  margin: 30px 40px;
}

.about img,
.column img {
  width: 450px;
  border-radius: 50%;
}

.column {
  width: 30%;
}

.column h1 {
  text-align: center;
}

.column p {
  font-size: 1em;
  width: 50%;
  margin: 0 auto;
  text-align: left;
  color: gray;
}

.quote p {
  font-size: 1.2em;
  text-align: center;
  color: teal;
}

/* Contact page */
.intro {
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  /* border-bottom: 2px solid teal; */
}

.social {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.footer i {
  font-size: 40px;
  color: #333;
}

.contact p {
  width: 60%;
}

.contact h1 {
  border-bottom: 1px solid teal;
}

/* Random fact */
.bg {
  width: 50%;
  background: url("../images/dog.jpeg") center center/cover no-repeat;
}

.trivia {
  background-color: rgb(252, 247, 247);
  box-shadow: 10px 0 15px lightgrey;
  margin-bottom: 10px;
}

.cards {
  justify-content: center;
}

.card {
  background: rgb(252, 247, 247);
  border-radius: 5px;
  width: 30%;
  margin: 20px;
  box-shadow: 0 2px 12px lightgrey;
  opacity: 0.7;
  text-align: center;
}

.card:hover {
  opacity: 1;
}

/* Portfolio */
.fit {
  margin: 20px;
}

.fit img {
  width: 80%;
  margin: auto;
}

.portfolio {
  justify-content: center;
}

.portfolio-1 {
  width: 50%;
}

.portfolio-1 img {
  width: 50%;
}
